@import '../Common/Styles/styles.scss';
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

.items {
    &__item {
        display: inline-flex;
        align-items: center;
        position: relative;
        width: 100%;
        margin-bottom: 14px;
        font-size: 12px;
        max-width: 164px;
    
        &__container {
            margin-left: 10px;
            transition: .3s;
        
            &:hover {
                cursor: help;
    
                .items__item__description {
                    display: block;
                    position: absolute;
                    left: 0;
                    right: 0;
                    background-color: $white;
                    border-radius: 12px;
                    border: 1px solid $white2;
                    z-index: 1;
                    padding: 10px;
                    box-sizing: border-box;
                    font-size: 12px;
                    opacity: 1;
                }
            }
    
            i {
                color: $grey;
            }
        }

        &__description {
            display: none;
            opacity: 0;
        }
    
        input {
            display: none;
        }

        .fa-ban, .fa-check {
            position: absolute;
            left: 11px;
            font-size: 14px;
        }

        .fa-ban {
            color: $red2
        }

        .fa-check {
            color: $green;
        }

        &__title {
            display: flex;
            align-items: center;
            flex-grow: 1;            
            cursor: pointer;
            padding: 5px;
            box-sizing: border-box;
            position: relative;

            &:before {
                content: '';

                height: 22px;
                width: 22px;
                margin-right: 12px;
                flex: none;
                border: 1px solid $blue2;
                border-radius: 4px;
            }

            &:hover {
                background-color: $grey4;
                transition: .2s;
            }
        }
    }
}
