ul {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

li {
  list-style: none;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: auto;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px
}

.info-table {
  max-width: 624px;
  width: 100%;
}