@import '../Common/Styles/styles.scss';

.switcher {
    margin-right: 20px;
    max-width: 200px;
    width: 100%;

    &__item {
        border-radius: 3px;
        background-color: $white2;
        box-sizing: border-box;
        padding: 20px 15px;
        cursor: pointer;
        display: block;
        text-decoration: none;

        &:hover {
            box-shadow: 0px 0px 3px 0px #000;
            transition: 0.2s;
        }
        
        &:not(:last-child) {
            margin-bottom: 15px;
        }

        &__label {
            margin-bottom: 5px;
            font-weight: bold;
        }

        &__description {
            font-size: 12px;
        }

        &.active {
            background-color: $blue;
            color: $white;
        }
    }
}